<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Connexion</servlet-name>
        <servlet-class>com.colobane.Servlets.Connexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Acceuil</servlet-name>
        <servlet-class>com.colobane.Servlets.Acceuil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Detail</servlet-name>
        <servlet-class>com.colobane.Servlets.Detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BestSells</servlet-name>
        <servlet-class>com.colobane.Servlets.BestSells</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Categories</servlet-name>
        <servlet-class>com.colobane.Servlets.Categories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deliver</servlet-name>
        <servlet-class>com.colobane.Servlets.Deliver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewItems</servlet-name>
        <servlet-class>com.colobane.Servlets.NewItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Order</servlet-name>
        <servlet-class>com.colobane.Servlets.Order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>com.colobane.Servlets.Admin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Connexion</servlet-name>
        <url-pattern>/connexion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Inscription</servlet-name>
        <servlet-class>com.colobane.Servlets.Inscription</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inscription</servlet-name>
        <url-pattern>/inscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Acceuil</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Detail</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BestSells</servlet-name>
        <url-pattern>/bestSells</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Categories</servlet-name>
        <url-pattern>/categories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deliver</servlet-name>
        <url-pattern>/deliver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewItems</servlet-name>
        <url-pattern>/newitems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Order</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/intadmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
        30
    </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>taglibs.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>
</web-app>
